@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap");

.app-wrapper {
  .top {
    color: #e7fff6b8;
    text-align: center;
    display: flex;
    align-items: center;
    height: 150px;
    #state {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 150px;
      p {
        margin-top: 2px;
      }
    }
    .break {
      rotate: -15deg;
      width: 25%;
      margin-top: 30px;
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
      h2 {
        font-size: 2rem;
        font-family: "Fontdiner Swanky", serif;
        margin: 0;
        @media (max-width: 600px) {
          font-size: 1.5rem;
        }
      }
      p {
        margin: 0;
        font-size: 0.8rem;

        @media (max-width: 600px) {
          opacity: 0;
        }
      }
      #mouse {
        height: 30px;
        margin-top: 10px;
      }
    }

    .center {
      display: flex;
      justify-content: center;
      width: 50%;
      border-bottom: 1px solid #5fc98d;
      @media (max-width: 600px) {
        flex-direction: column;
      }

      #logo {
        height: 100px;
        @media (max-width: 600px) {
          width: 80px;
          height: 80px;
          margin-left: 50%;
          transform: translateX(-50%);
        }
        @media (max-width: 446px) {
          width: 50px;
          height: 50px;
        }
      }
      .right {
        .title {
          font-size: 3rem;
          font-family: "Fontdiner Swanky", serif;
          margin: 0;
          @media (max-width: 600px) {
            font-size: 1.9rem;
            margin-top: 15px;
          }
          @media (max-width: 446px) {
            font-size: 1.2rem;
          }
        }
        p {
          margin: 0;
          font-family: "Fontdiner Swanky", serif;
          font-size: 1.5rem;
          @media (max-width: 600px) {
            font-size: 0.9rem;
          }
        }
      }
    }
    .connect {
      width: 25%;
      #connect {
        font-weight: bold;
        border: 0;
        padding: 5px 15px;
        background: rgba(119, 171, 139, 0.8117647059);
        height: 40px;
        border-radius: 10px;
        color: whitesmoke;
        @media (max-width: 600px) {
          padding: 5px 5px;
          right: 3%;
        }
        @media (max-width: 446px) {
          font-size: 0.6rem;
        }

        &:hover {
          transform: scale(1.05);
          transition: 0.2s;
        }
      }
    }
  }

  .App {
    position: relative;
    font-family: "Chewy", system-ui;
    margin-top: 40px;
    .flex-app {
      display: flex;
      justify-content: space-around;
      @media (max-width: 942px) {
        flex-direction: column-reverse;
      }
      .flex-pill {
        color: #0000008f;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 5%;
        @media (max-width: 600px) {
          border: none;
          width: 80%;
          margin: 0 10%;
        }
        .pills-cont {
          width: 12%;
          .pills {
            border: 5px solid #14423d;
            padding: 20px;
            height: 50px;
            width: 100%;
            @media (max-width: 600px) {
              margin-left: 25%;
              height: 40px;
            }
          }
          #pilla {
            position: relative;
            z-index: 10;
            rotate: -3deg;
            background: #ebebeb;
            box-shadow: 15px white;
            border-radius: 50% 50% 10px 10px;
            top: 5px;

            @media (max-width: 600px) {
              width: 53%;
            }
          }
          #pillb {
            rotate: 3deg;
            background: #4ca472;
            box-shadow: 15px #4ca472;
            border-radius: 10px 10px 50% 50%;
            @media (max-width: 600px) {
              width: 50%;
            }
          }
        }
        .text {
          padding: 10px;
          background: #1e2736;
          color: aliceblue;
          border-radius: 15px;
        }
      }
      .flex-btn {
        .btn-cont {
          display: grid;
          grid-template-columns: 1fr 1fr;

          @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
          }

          .card-btn {
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 30px;
            background: #1e2736;
            position: relative;
            height: 70px;
            margin: 5px;

            .value,
            .spacer {
              flex: 1;
            }
            .value {
              height: 44px;
              padding: 0 12px;
              border: 1px solid #333;
              border-radius: 12px;
              background: #1a1a1a;
              color: #ffffff66;
              font-size: 16px;
              @media (max-width: 368px) {
                font-size: 10px;
              }
            }
            .btn {
              font-family: "Chewy", system-ui;
              flex: 0 0 140px;
              height: 100%;
              border: none;
              border-radius: 12px;
              background: #77ab8bcf;
              font-weight: 700;
              font-size: 1.4rem;
              color: white;
              cursor: pointer;

              &:hover {
                transition: 0.2s;
                transform: scale(1.05);
                span {
                  rotate: 360deg;
                  color: #1e2736;
                }
              }
            }
            .btn:disabled {
              opacity: 0.5;
              cursor: not-allowed;
              background: #596152;
            }
          }

          .card-info {
            margin: 10px 15px;
            color: aliceblue;
            display: flex;
            align-items: center;
            border-radius: 15px;
            height: 55px;
            background: #59719a91;

            .instr {
              width: 50%;
              font-size: 1.3rem;
              text-align: center;
              border-right: 2px solid #9dcced;
            }
            .val {
              margin-left: 5%;
            }
          }
          span {
            img {
              height: 200px;
              width: 60%;
              margin: 5px 20%;
              opacity: 0.5;
              &:hover {
                transition: 1s;
                rotate: 360deg;
              }
              @media (max-width: 600px) {
                width: 40%;
                margin: 5px 30%;
              }
            }
            p {
              text-align: center;
              margin: 0;
              color: #5fc98d;
              span {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
          .activity {
            margin: 5px;
            color: aliceblue;
            display: flex;
            border-radius: 15px;
            height: 225px;
            background: #1e2736;
            text-align: center;
            h1 {
              margin: 0;
              font-size: 1.2rem;
              transform: translateX(-50%);
              margin-left: 50%;
              border-bottom: 1px solid #9dcced;
            }
            ul {
              width: 100%;
              height: 100%;
              list-style: none;
              margin: 0;
              padding: 0;
              font-size: 0.8rem;
              li {
                border-bottom: 1px solid #9dcced;
                border-radius: 5px;
                padding: 2px;
                margin-top: 5px;
              }
            }
          }
        }
      }
      .account-activity {
        display: flex;
        .account-infos {
          display: flex;
          flex-direction: column;
          width: 50%;
          .card-info {
            margin: 5px;
            color: aliceblue;
            display: flex;
            align-items: center;
            border-radius: 15px;
            height: 70px;
            background: #1e2736;

            .instr {
              width: 50%;
              font-size: 1.3rem;
              text-align: center;
              border-right: 2px solid #9dcced;
            }
            .val {
              text-align: center;
              font-size: 1.2rem;
              margin-left: 5%;
            }
          }
        }
      }
    }
  }
}
@keyframes rotatePilla {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
    box-shadow: -5px -2px 15px white;
  }
}

@keyframes rotatePillb {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
    box-shadow: 5px 2px 15px #4ca472;
  }
}
#pilla {
  animation: rotatePilla 5s infinite;
}

#pillb {
  animation: rotatePillb 5s infinite;
}
